*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(#1c1917 50%, #ffb92a 50%);
    height: 100vh;
}

.container{
    width: 90vw;
    background-color: #1e293b;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    margin: 20px 10px;
    border-radius: 8px;
}

.search{
    width: 90%;
    position: relative;
    margin: 15px;

}

#searchInput{
    display: flex;
    justify-content: center;
}
input{
    width: 70%;
    padding: 10px;
    border: 1px solid #777;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
}

::placeholder{
    font-size: 20px;
    color: #777;
}

#searchBtn{
    border-radius: 8px;
    width: 100px;
    height: 35px;
    margin-left: 50px;
    font-size: 20px;
    border: none;
    background-color: #ffb92a;
    cursor: pointer;
}

.bodyArea{
    margin: 30px 20px;
}

img{
    width: auto;
    height: auto;
    border-radius: 8px;
}

.photoGenel{
    display: flex;
    flex-direction: row;
}

#generalInfo{
    width: 100%;
}
#generalInfo>h3{
    text-align: center;
    font-size: 40px;
    margin: 25px;
    color: #fff;
}
#generalInfo>p{
    text-align: center;
    font-size: 25px;
}

#categoryBtn{
    text-align: center;
    margin: 10px;
}

#categoryBtn>button{
    
    width: 70px;
    height: 30px;
    margin: 7px;
    padding: 5px;
    border-style: none;
    background-color: #ffb92a;
    color: #1c1917;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    
}
#additionalInfo{
    margin-top: 20px;
    color: #fff;
}

h4{
    margin-bottom: 6px;
    font-size: 20px;

}

