#profileContentDiv{
    background-color: #fff;
    border: 1px solid lightgrey;
    padding: 10px;
}
#profileImage{
    border-radius: 50%;
}
#profileDiv{
    border: 1px solid lightgrey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    margin: 10px;
}
#reposDiv{
    background-color: #fff;
    border: 1px solid lightgrey;
    margin-top: 15px;
    padding: 10px;
}